
@{
    ViewBag.Title = "ParkingDetails";
    Layout = "~/Views/_Shared/AdminMasterLayoutPage.cshtml";
}

    <div class="row">
        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12">
                    <br><br>
                    <h2>Parking Details Input Form</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    Parking Address
                </div>
                <div class="col-lg-6" style="padding:2px">
                <div id="dropDownParkingAddress"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    Vehicle Type
                </div>
                <div class="col-lg-6" style="padding:2px">
                <div id="dropDownVehicleType"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    MaxSlot
                </div>
                <div class="col-lg-6" style="padding:2px">
                    <input id="maxSlot" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <input type="button" class="btn btn-success pull-right" value="Add" id="parkingDetailsBtnAdd" />
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <br>
            <br>
            <br>
            <div id="ParkingDetailsGrid"></div>
        </div>

    </div>

<script>
    $(document).ready(function () {
        var url = URL + "api/ParkingDetails/GetAll";
        // prepare the data
        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'ParkingdetailId', type: 'int' },
                { name: 'Address1' },
                { name: 'TypeName' },
                { name: 'MaxSlot', type: 'int'},
                { name: 'IsActive' }
            ],
             id: 'Id',
            url: url,
            root: 'data'
        };

        var dataAdapter = new $.jqx.dataAdapter(source);
        $("#ParkingDetailsGrid").jqxGrid(
            {
                width: '100%',
                source: dataAdapter,
                columnsresize: true,
                columns: [
                    { text: 'Id', dataField: 'ParkingdetailId' },
                    { text: 'Address1', dataField: 'Address1' },
                    { text: 'Vehicle Type', dataField: 'TypeName', },
                    { text: 'MaxSlot', dataField: 'MaxSlot', },
                    { text: 'IsActive', dataField: 'IsActive', }
                ]
            }
        );
        var url = URL + "api/VechileType/GetAll";
        // prepare the data
        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'VechileTypeId', type: 'int' },
                { name: 'TypeName' },
            ],
            id: 'Id',
            url: url,
            root: 'data'
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        // Create a jqxDropDownList
        $("#dropDownVehicleType").jqxDropDownList({ source: dataAdapter, displayMember: "TypeName", valueMember: "VechileTypeId", width: 200, height: 30, });
        var url = URL + "api/ParkingAddress/GetAll";
        // prepare the data
        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'ParkingAddressId', type: 'int' },
                { name: 'Address1' }
            ],
            id: 'Id',
            url: url,
            root: 'data'
        };
        var dataAdapter = new $.jqx.dataAdapter(source);
        // Create a jqxDropDownList
        $("#dropDownParkingAddress").jqxDropDownList({ source: dataAdapter, displayMember: "Address1", valueMember: "ParkingAddressId", width: 200, height: 30, });
    });
    $("#parkingDetailsBtnAdd").click(function () {
        var address = $("#dropDownParkingAddress").jqxDropDownList('getSelectedItem');
        var add1 = address.value;
        var vehicle = $("#dropDownVehicleType").jqxDropDownList('getSelectedItem');
        var vehicleTypeId = vehicle.value;
        var maxSlot = $("#maxSlot").val();
        var postData = {
            "Address1": add1,
            "VehicleTypeId": vehicleTypeId,
            "MaxSlot": maxSlot,
        };
        $.ajax({
            type: "POST",
            url: URL + 'api/ParkingDetails/Add',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(postData),
            dataType: "json",
            success: function (msg) {
                if (msg == 1) {
                    alert("Data Inserted Successfully");
                    window.location.reload();
                }
            },
            error: function (req, status, error) {
                alert("Error try again");
            }
        });
    });
</script>