
@{
    ViewBag.Title = "UserRoleDetailsTable";
    Layout = "~/Views/_Shared/AdminMasterLayoutPage.cshtml";
}

    <div class="row">

        <div class="col-lg-4">
            <div class="row">
                <div class="col-lg-12">
                    <br><br>
                    <h2>User Role Detail Input Form</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    User Name
                </div>
                <div class="col-lg-6" style="padding:2px">
                    <div id="comboBoxUsers" ></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    Role Name
                </div>
                <div class="col-lg-6" style="padding:2px">
                    <div id="dropDownRoles" ></div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <input type="button" class="btn btn-success pull-right" value="Add" id="userRoleBtnAdd" />
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <br><br>
            <div id="userRoleDetailsGrid"></div>
        </div>
    </div>

<Script>

    $(document).ready(function () {
        var url = URL + "api/User/GetAll";
        // prepare the data
        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'UserName' },
                { name: 'UserId' }
            ],
            url: url,
            async: false
        };

        var dataAdapter = new $.jqx.dataAdapter(source);
        // Create a jqxComboBox
        $("#comboBoxUsers").jqxComboBox({ selectedIndex: 0, source: dataAdapter, displayMember: "UserName", valueMember: "UserId", width: 200, height: 30 });

        var url = URL + "api/Role/GetAll";
        // prepare the data
        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'RoleName' },
                { name: 'RoleId' }
            ],
            url: url,

            async: false
        };

        var dataAdapter = new $.jqx.dataAdapter(source);
        // Create a jqxDropDownList
        $("#dropDownRoles").jqxDropDownList({selectedIndex: 0, source: dataAdapter, displayMember: "RoleName", valueMember: "RoleId", width: 200, height: 30,});



        var url = URL + "api/UserRole/GetAll";
        // prepare the data

        var source =
        {
            datatype: "json",
            datafields: [
                { name: 'UserRoleId', type: 'int' },
                { name: 'UserName' },
                { name: 'RoleName' },
                { name: 'IsActive', type: 'bool' }
            ],
            id: 'Id',
            url: url,
            root: 'data'
        };
        var dataAdapter = new $.jqx.dataAdapter(source);

        $("#userRoleDetailsGrid").jqxGrid(
            {
                width: '100%',
                source: dataAdapter,
                columnsresize: true,
                columns: [
                    { text: 'Id', dataField: 'UserRoleId', width: 200 },
                    { text: 'UserName', dataField: 'UserName', width: 200 },
                    { text: 'RoleName', dataField: 'RoleName', width: 180 },
                    { text: 'IsActive', dataField: 'IsActive' }
                ]
            });

        $("#userRoleBtnAdd").click(function () {
            var Useritem = $("#comboBoxUsers").jqxComboBox('getSelectedItem');
            var Roleitem = $("#dropDownRoles").jqxDropDownList('getSelectedItem');
            var Userid = Useritem.value;
            var RoleItem = Roleitem.value;

            var postData = {
                "UserId": Userid,
                "RoleId": RoleItem
            };

            $.ajax({
                type: "POST",
                url: URL + 'api/UserRole/Add',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(postData),
                dataType: "json",
                success: function (msg) {

                    alert("User Role Added Successfully");
                    window.location.reload();
                },
                error: function (req, status, error) {
                    alert("Error try again");
                }
            });

        });
    });
</Script>